

<form method="POST" action="/new">
    <input type="text" name="user" placeholder="Username">
    <br>
    <input type="text" name="message" placeholder="Message">
    <br>
    <input type="submit" value="Add Message">
</form>